Last login: Fri May 28 23:01:36 on ttys000
 ~  dss
Welcome to Ubuntu 18.04.5 LTS (GNU/Linux 5.4.0-1048-aws x86_64)

 * Documentation:  https://help.ubuntu.com
 * Management:     https://landscape.canonical.com
 * Support:        https://ubuntu.com/advantage

  System information as of Sat May 29 00:01:15 KST 2021

  System load:  0.08              Processes:           100
  Usage of /:   99.1% of 7.69GB   Users logged in:     0
  Memory usage: 45%               IP address for eth0: 172.31.37.250
  Swap usage:   0%

  => / is using 99.1% of 7.69GB

 * Super-optimized for small spaces - read how we shrank the memory
   footprint of MicroK8s to make it the smallest full K8s around.

   https://ubuntu.com/blog/microk8s-memory-optimisation

 * Canonical Livepatch is available for installation.
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
-- INSERT --
camping_server/scraping/chromedriver.exe
camping_server/keys/
datas/
/camping_server/.idea/

.idea/

camping_server2/keys/
