<header class="py-3 mb-3 border-bottom">
    <div class="container-fluid d-grid align-items-center" style="grid-template-columns: 0.5fr 2fr;">
        <div class="dropdown">
            <a class="logo" href="#">Algo Camping</a>
        </div>

        <div class="d-flex align-items-center">
            <div class="dropdown">
                <a class="btn btn-sm-1 btn-secondary dropdown-toggle dropdown-btn" href="#" role="button" style="" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">전체</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">서울</a></li>
                        <li><a class="dropdown-item" href="#">경기</a></li>
                        <li><a class="dropdown-item" href="#">인천</a></li>
                    </ul>
            </div>&nbsp;&nbsp;
            <form class="col-sm-12 me-2 col-md-8 col-lg-6">
              <input type="search" class="form-control search" placeholder="태그 혹은 캠핑장 명을 입력하세요. ex) 친절한, 알고캠핑장" aria-label="Search">
            </form>

            <div class="flex-shrink-0 dropdown user-dropdown">
                <a href="#" class="d-block link-dark text-decoration-none" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="material-icons user" width="32" height="32" style="color: #1f284a;">account_circle</i>
                    <span class="mx-2 py-1 username">김알고님 안녕하세요</span>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
