/*outer container layout*/
.container{
    visibility: hidden;
}
.outer-2{
    margin-top: 2.5rem;
}
.visitor-text,
.algo-star-text{
    float: left;
}
.algo-star{
    color: #49917D;
}
.detail-score{
    color: #2b2b2b;
    font-size: 1rem;
}
.loading-text{
    margin-left: -8px;
}
.visitor-star-img{
    height: 0.8rem;
    width: 0.8rem;
}
/*table*/
table{
    width: 100%;
    height: 100%;
    word-break: keep-all;

}
@media screen and (min-width:280px) and (max-width:768px) {
    table{
        display: flex;
        overflow-x: auto;
    }
}
table td,
table th{
    text-align: center;
    vertical-align: middle;
}
table a{
    color: #2b2b2b;
}
/*spider web chart*/
.polar-chart{
    margin: 1em auto;
}
/*line chart*/
.line-chart{
    margin: 1em auto;
}
/*bubble chart*/
.bubble-chart{
    margin: 1em auto;
}
/*swiper.js img*/
.swiper-container {
    width: 100%;
}
.mySwiper,
.mySwiper2{
    overflow: hidden;
}
.mySwiper2{
    height: 100%;
    width: 100%;
}
.swiper-slide2 img{
    height: 60%;
    width: 100%;
}
@media screen and (min-width:280px) and (max-width:768px) {
    .swiper-slide2 img{
        height: 70%;
    }
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    padding-left: 0;
    padding-right: 0;
}
/*---map---*/
.kakao-map{
    height: 380px;
}
body > div.container > div > div > div.row.row-cols-12.row-cols-md-2{
    text-align: center;
}
/*---like---*/
.favorite{
    color: #be2727;
    font-size: 4.5rem;
}
.do-like-btn{
    background-color: rgb(255, 255, 255, 0);
    border: none;
}