/*header*/
body{
    background-image: url('../imgs/camping_bg2.jpeg');
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
@font-face {
    font-family: 'Harlow Solid Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Harlow Solid Italic'), url('/static/font/HARLOWSI_1.woff') format('woff');
}
#logo{
    color: #1f284a;
    font-family: "Harlow Solid Italic";
    font-size: 2rem;
}
.header-logo-img{
    width: 2rem;
    height: 2.1rem;
}
.navbar-brand{
    text-align: center;
}
/*signup container*/
.signin-container{
    margin-top: -5rem;
}
.login{
    margin-top: 16rem;
}
.container-fluid{
    height: 100%;
    width: 100%;
}
#check-btn,
.btn-signin{
    background-color: #1f284a;
    color: white;
}
.btn-signin:hover{
    background-color: white;
    color: #1f284a;
}
.btn-survey2,
.btn-survey2-1,
.btn-survey1,
.btn-survey3,
.div-etc,
.btn-survey4-1,
.btn-survey4-2,
.btn-survey6{
    background-color: #dbdbdb;
    color: #707070;
}
.btn-survey5{
    background-color: #dbdbdb;
    color: #2f2f2f;
}
.etc-label{
    margin-left: 45%;
}
.div-etc{
    padding: 1rem;
    height: 6rem;
}
.sub-text,
.sub-text5{
    font-size: 0.8rem;
}
.sub-text5{
    color: gray;
}
#btn-survey1-prev,
#btn-survey2-prev,
#btn-survey3-prev,
#btn-survey4-prev,
#btn-survey5-prev{
    color: white;
    background-color: #1f284a;
}
.btn-survey-prev:hover{
    background-color: white;
    color: #1f284a;
}
.btn-main-router{
    margin-left: 35%;
    background-color: #dbdbdb;
    color: #808080;
    border-radius: 1.4rem;
}
.div-info{
    color: #696969;
    font-size: 0.9rem;
}
.option-text{
    font-size: 0.8rem;
    color: gray;
}
.option-img-1,
.option-img-2,
.option-img-3{
    margin-top: 0.5rem;
    display: block;
    height: auto;
    width: 100%;
}