/*header*/
body{
    background-image: url('../imgs/camping_bg2.jpeg');
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
@font-face {
    font-family: 'Harlow Solid Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Harlow Solid Italic'), url('/static/font/HARLOWSI_1.woff') format('woff');
}
#logo{
    color: #1f284a;
    font-family: "Harlow Solid Italic";
    font-size: 2rem;
}
.header-logo-img{
    width: 7rem;
}
.navbar-brand{
    text-align: center;
}
.myinfo-container{
    margin-top: -5rem;
}
.mypage{
    margin-top: 12rem;
}
.container-fluid{
    height: 100%;
    width: 100%;
}
.email-alert,
.option-text{
    color: #838383;
    font-size: 0.8rem;
}
#nav-userinfo-tab{
    border: none;
    background-color: rgb(255, 255, 255, 0);
    border-bottom: 2px solid #27335f;
    color: black;
}
#nav-userlike-tab{
    color: #989898;
}
.logo-icon{
    width: 1.3rem;
    height: 1.3rem;
    margin-bottom: 0.2rem;
}
.info-text{
    word-break: keep-all;
}
.resurvey-btn{
    background-color: #dbdbdb;
    padding: 0.45rem;
}
.info-icon{
    font-size: 1.4rem;
    vertical-align: top;
    color: #1f284a;
    font-weight: bold;
}
.resurvey-btn a{
    text-decoration: none;
    color: black;
}
#check-btn,
.btn-modifiy-ok{
    background-color: #1f284a;
    color: white;
}
.btn-modifiy-ok:hover{
    background-color: white;
    color: #1f284a;
}
.withdraw{
    color: #898989;
    font-size: 0.9rem;
}
.like-list{
    overflow: auto;
}
#nav-userlike-tab:hover,
#nav-userlike-tab:not(:hover){
    border: none;
}
/* temp img*/
.test-img{
    width: 11rem;
    height: 7rem;
    margin-bottom: 1rem;
}
.like-info{
    color: #4e4e4e;
}