/*header*/
body{
    background-image: url('../imgs/camping_bg2.jpeg');
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.logo{
    color: #1f284a;
    font-weight: bold;
    font-size: 25px;
    border: none;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
}
.search{
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    background-color: #ececec;
}
.dropdown-btn{
    background-color: #1f284a;
    padding-left: 15px;
    padding-right: 15px;
}
.username{
    margin-top: 2px;
    float: right;
}
.user{
    font-size: 2.5em;
    left: 2px;
}
/* mobile device */
@media (min-width: 10px) {
    .user-dropdown{
        display: none;
    }
}
/* tablet device*/
@media (min-width: 768px) {
    .user-dropdown{
        display: block;
    }
}
/* pc */
@media (min-width: 992px) {

}
/* pc */
@media (min-width: 1200px) {

}