/*search result nav*/
.search-result{
    width: 100vw;
    margin-top: 8rem;
    padding: 2px;
    background-color: rgb(0, 0, 0, 0.2);
}
body > div.container-fluid.search-result > nav > a{
    padding-left: 2rem;
}
.btn-group{
  margin-right: 5rem;
}
/*search card list*/
.card-body{
    text-align: center;
    border: none;
}
.card-body a{
    text-decoration: none;
    color: #3e3e3e;
}
/*camping top3 tag*/
div:nth-child(5) > div > div > div > div > div > button{
    background-color: #e2e2e2;
    border-radius: 1.3rem;
    border: none;
    font-size: 0.9rem;
    color: #424242;
}
div:nth-child(5) > div > div > div > div > div > button:hover,
div:nth-child(5) > div > div > div > div > div > button:focus,
div:nth-child(5) > div > div > div > div > div > button:active{
    background-color: #262b35;
    color: #ffffff;
}
div:nth-child(5) > div > div > div > img{
    height:19rem;
}
/*swiper.js img*/
.swiper-container {
    width: 100%;
    height: 19rem;
}

/*.swiper-slide {*/
/*    text-align: center;*/
/*    font-size: 18px;*/
/*    background: #fff;*/
/*}*/
.swiper-slide img {
    display: block;

    object-fit: cover;
}