<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Algo Camping</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/signup.css">
    <link rel="shorcut icon" href="../../static/imgs/favicon.ico" type="image/x-icon" sizes="16x16">
</head>
<body>
    <div class="container">
        <nav class="navbar fixed-top navbar-light bg-light p-4">
            <div class="container-fluid">
                <a class="navbar-brand col-md-12" href="/">
                    <span class="navbar-text" id="logo">
                        Algo Camping
                        <img class="header-logo-img" src="/static/imgs/header_logo.png">
                    </span>
                </a>
            </div>
        </nav>
    </div>
    <div class="container col-md-7 login">
            <div class="signin-container p-4 bg-light col-md-auto rounded-3 outer-2">
                <div class="container-fluid">
                    <h3 class=" display-12 fw-bold py-2">캠핑 취향 설문</h3>
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <br>
                    <span>알고캠핑이<br>
                    <span class="user-nickname"></span>님의 감성에 딱 맞는 캠핑장을 찾아볼게요
                    </span>
                    <br><br>
                    <div class="mb-3"><br>
                        <h5>3. 선호하는 캠핑 스타일을 골라주세요</h5><br>
                        <div class="d-grid gap-3 col-7 mx-auto">
                            <button class="btn btn-survey3" type="button">오토캠핑</button>
                            <button class="btn btn-survey3" type="button">글램핑 & 카라반</button>
                            <button class="btn btn-survey3" type="button">오지캠핑</button>
                            <div class="div-etc">
                                <label class="etc-label text-center">기타</label>
                                <input type="text" class="form-control etc-form" id="name-form" placeholder="원하는 캠핑 스타일을 적어주세요."/>
                            </div>
                        </div><br>
                    </div>
                </div>
                <br>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn me-md-2 btn-survey3-prev" style="background-color: #dbdbdb;" type="button">Prev</button>
                    <button class="btn me-md-2 btn-survey3-next" style="background-color: #1f284a; color:white;" type="button">Next</button>
                </div>
            </div>
    </div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/static/js/signup.js"></script>
</body>
</html>