<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>알고캠핑, 가장 나 다운 캠핑</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/signup.css">
    <link rel="shorcut icon" href="../../static/imgs/favicon.ico" type="image/x-icon" sizes="16x16">
</head>
<body>
    <div class="container">
        <nav class="navbar fixed-top navbar-light bg-light p-4">
            <div class="container-fluid">
                <a class="logo align-items-center" href="/main"> <img class="header-logo-img" src="/static/imgs/algo_logo2.png"></a>
            </div>
        </nav>
    </div>
    <div class="container col-md-7 login">
            <div class="signin-container p-4 bg-light col-md-auto rounded-3 outer-2">
                <div class="container-fluid">
                    <h3 class=" display-12 fw-bold py-2">캠핑 취향 설문</h3>
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <br>
                    <span>알고캠핑이<br>
                    {% if param.name %}
                    <span class="user-nickname">{{param.name}}</span>님의 감성에 딱 맞는 캠핑장을 찾아볼게요
                    {% else %}
                    <span class="user-nickname">캠퍼</span>님의 감성에 딱 맞는 캠핑장을 찾아볼게요
                    {% endif %}
                    </span>
                    <br><br>
                    <div class="mb-3"><br>
                        <h5>3. 아래 이미지 중 가장 선호하는 캠핑 스타일에 가까운 것은 무엇인가요?</h5><br>
                        <div class="row">
                            <div class="d-grid gap-5 mx-auto col-6">
                                <button class="btn btn-survey3" type="button" id="option-1">
                                    오토캠핑<br>
                                    <img class="option-img-1" src="https://images.unsplash.com/photo-1504280390367-361c6d9f38f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="img"/>
                                </button>
                            </div>
                            <div class="d-grid gap-5 mx-auto col-6">
                                <button class="btn btn-survey3" type="button" id="option-2">
                                    글램핑 & 카라반<br>
                                    <img class="option-img-2" src="https://images.unsplash.com/photo-1523987355523-c7b5b0dd90a7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80" alt="img"/>
                                </button>
                            </div>
                        </div>
                        <div class="row p-3">
                            <div class="d-grid mx-auto col-7">
                                <button class="btn btn-survey3" type="button" id="option-3">
                                    오지캠핑<br>
                                    <img class="option-img-3" src="https://images.unsplash.com/photo-1487730116645-74489c95b41b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80" alt="img"/>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn me-md-2 btn-survey3-prev" style="background-color: #dbdbdb;" type="button">Prev</button>
                    <button class="btn me-md-2 btn-survey3-next" style="background-color: #1f284a; color:white;" type="button">Next</button>
                </div>
            </div>
    </div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/static/js/signup.js"></script>
</body>
</html>