<div class="container my-10">
    <div class="row">
        <nav class="navbar fixed-top navbar-light bg-light py-3">
            <div class="container-fluid">
                <h3 class="text-secondary">
                    <a class="navbar-brand" href="/" id="logo">Algo Camping</a>
                </h3>
                <form class="col-sm-1 col-md-9 d-flex search-form">
                  <input class="form-control" id="input" type="search" placeholder=" 지역이나 태그를 입력하세요." aria-label="Search">
                    <button id="search-btn" type="submit">
                        <i class="material-icons search">search</i>
                    </button>
                </form>
            </div>
            <div class="col-md-2 header-userinfo">
                <i class="material-icons user">account_circle</i>
                <span class="mx-2 py-1 username">김알고님 안녕하세요</span>
            </div>
        </nav>
    </div>
</div>
