<div class="container my-10">
    <div class="row">
        <nav class="navbar fixed-top navbar-light bg-light py-3">
            <div class="container-fluid">
                <div class="col-md-3">
                    <h3 class="text-secondary">
                        <a class="navbar-brand" href="#" id="logo">Algo Camping</a>
                    </h3>
                </div>
                <div class="col-md-7">
                    <form class="d-flex">
                      <input class="form-control w-50 py-2" id="input" type="search" placeholder=" 지역이나 태그를 입력하세요." aria-label="Search">
                        <button id="search-btn" type="submit">
                            <i class="material-icons search">search</i>
                        </button>
                    </form>
                </div>
                <div class="col-md-2">
                    <span class="material-icons user">account_circle</span>
                    <span class="mx-2 py-1">안녕하세요</span>
                </div>
            </div>
        </nav>
    </div>
</div>
